[submodule "examples/vite-proxy"]
	path = examples/vite-proxy
	url = https://github.com/pmatheusvinhas/react-waitlist-example-client-proxy.git
[submodule "examples/vite-direct"]
	path = examples/vite-direct
	url = https://github.com/pmatheusvinhas/react-waitlist-example-client.git
